<%= render partial: 'search' %>
<main role="main" class="container">
  <div class="d-flex align-items-center text-dark-50 bg-purple rounded shadow-sm">
    <div class="lh-100">
      <h3 class="mb-0 text-white lh-100">Users</h3>
    </div>
  </div>
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0 text-dark">Recent User Activities</h6>
    <%= render partial: 'single_user', collection: @users.uniq, as: :user%>
    <small class="d-block text-right mt-3">
      <a href="#">All updates</a>
    </small>
  </div>
</main>
